html, body {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  height: 100%;
}
body {
  padding-top: 40px;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #3D92C9;
}
a:hover,
a:focus {
    text-decoration: underline;
}

img {
  max-width: 100%;
}

/* MENU */
.menu-container {
  width: 100%;
  padding: 10px;
  background: rgba(0,0,0,0.9);
  color: #fff;
  position: fixed;
  text-align: left;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
}
.menu {
  display: inline-block;
  float: left;
  width: 100%;
}
.menu a, .menu a:hover, .menu a:focus, .menu a:visited {
  text-decoration: none;
  color: #fff;
}
.menu #logout {
  position: relative;
  transform: translateY(10%);
}
.menu img {
  width: auto;
  height: 40px;
  border-radius: 50%;
  padding-right: 5px;
}
.menu div {
  display:inline-block;
}
.menu #user-name {
  position: relative;
  top: 70%;
  transform: translateY(-70%);
}

/* TIMELINE */
.timeline {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}
.timeline h2.break {
  display: block;
  width: 100%;
  margin: 0;
  padding: 25px;
  position: relative;
  left: -5px;
  text-align: center;
  color: #555;
  text-transform: uppercase;
}
.timeline h2.break {
  position: relative;
  z-index: 1;
}
.timeline h2.break:before {
  border-top: 1px solid #dfdfdf;
  content: "";
  margin: 0 auto;
  /* this centers the line to the full width specified */
  position: absolute;
  /* positioning must be absolute here, and relative positioning must be applied to the parent */
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}
.timeline h2.break span {
  /* to hide the lines from behind the text, you have to set the background color the same as the container */
  background: #fff;
  padding: 0 15px;
}
.timeline ul {
  color: #282828;
  list-style-type: none;
  position: relative;
  padding: 25px 0 25px 10px;
  font-size: 18px;
  margin: 0;
}
.timeline ul:after {
  content: "";
  position: absolute;
  top: 0;
  left: -4.5px;
  bottom: 0;
  border-left: 1px solid #ccc;
  height: 100%;
}
.timeline ul li {
  margin: 15px 0 35px 10px;
  position: relative;
  display: block;
}
.timeline ul li:last-child {
  margin-bottom: 0px;
}
.timeline ul li .card {
  display: block;
  border: 1px solid #ccc;
  padding: 15px;
  background: #f1f1f1;
}
.timeline ul li h1 {
  color: #282828;
  margin: 0 0 15px 0;
  font-size: 1.5em;
}
.timeline ul li p {
  color: rgba(40, 40, 40, 0.5);
  margin: 0 0 15px 0;
  word-break: break-all;
}
.timeline ul li .date {
  display: table;
  color: white;
  background-color: #282828;
  font-size: 9px;
  padding: 4px 7px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 8px;
  position: relative;
  top: 3.5px;
  outline: 2px solid white;
  z-index: 0;
  max-width: 300px;
  line-height: 1.2;
}
.timeline ul li .date:before {
  content: "";
  position: absolute;
  left: -20px;
  border-bottom: 1px solid #ccc;
  width: 20px;
  top: 9px;
  z-index: -1;
}
.timeline ul li:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgba(40, 40, 40, 0.5);
  position: absolute;
  z-index: 2;
  left: -30px;
  outline: 2px solid white;
  top: 7.5px;
}

.msg-header {
    width: 100%;
    height: 2em;
    margin: 1em auto;
}
.msg-author {
    position: relative;
    top: 25%;
    transform: translateY(-25%);
}
.msg-author:hover, .msg-author:visited {
    color: rgb(61, 146, 201);
}
.msg-picture {
    border-radius: 50px;
    float: left;
    height: 40px;
    width: 40px;
    margin-right: 1em;
}
.msg-title,.msg-title:hover,.msg-title:visited,.msg-title:active {
    color: #555;
    text-decoration: none;
}

/* LOADING */
.loading {
    position: relative;
    padding: 50px;
}
.loading>p {
    position: relative;
    top: 50px;
    color: #777;
}
.loadingbox {
    width: 50px;
    height: 50px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.loadingbox:before {
    content: '';
    width: 50px;
    height: 5px;
    background: #000;
    opacity: 0.1;
    position: absolute;
    top: 59px;
    left: 0;
    border-radius: 50%;
    animation: shadow .5s linear infinite;
}
.loadingbox:after {
    content: '';
    width: 50px;
    height: 50px;
    background: #B0CADB;
    animation: animate .5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
}
@keyframes animate {
    17% {
        border-bottom-right-radius: 3px;
    }
    25% {
        transform: translateY(9px) rotate(22.5deg);
    }
    50% {
        transform: translateY(18px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 40px;
    }
    75% {
        transform: translateY(9px) rotate(67.5deg);
    }
    100% {
        transform: translateY(0) rotate(90deg);
    }
}
@keyframes shadow {
    0%,
    100% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.2, 1);
    }
}

/* ACTION BUTTONS */
.action-button {
    background-color: #fff;
    color: #777!important;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 60%;
    padding: 1em 1.5em;
    text-decoration: none;
    border: 1px solid #777;
    border-radius: 2px;
    margin-right: 5px;
    cursor: pointer;
}
.action-button:hover {
    text-decoration: none;
}
.action-button img {
    position: relative;
    height: 20px;
    top: 7px;
}
.action-button-sm {
    padding: 0.5em 0.7em;
}

/* OVERLAY */
.overlay {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    font-weight: 200;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

.overlay-text {
    min-width:300px;
    margin: 10% 5% auto;
    background-color: #fff;
    border:1px solid #ccc;
    padding:15px 15px 40px 15px;
}

/* NOTIFICATIONS */
.note {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    background: #eee;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    font-weight: 200;
    line-height: 2em;
    overflow-y: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
    transition: opacity 2s linear;
}

/* DIALOG */
.dialog {
    width: 300px;
    position: fixed;
    padding: 2em;
    text-align: center;
    font-weight: 200;
    background: #fff;
    z-index: 10;
    top: 50%;
    left: 50%;
    border: 1px solid #ccc;
    box-shadow: 0 0 4px #eee;
    border-radius: 5px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.dialog p {
    width: 100%;
}
.dialog footer {
    position: relative;
    margin-top: 30px;
}

/* Radio buttons */
[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px; margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* One radio button per line */
label {
  display: block;
  cursor: pointer;
  line-height: 2.5;
  font-size: 1.2em;
}

[type="radio"] + span {
  display: block;
}

/* the basic, unchecked style */
[type="radio"] + span:before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.25em;
  border-radius: 1em;
  border: 0.125em solid #fff;
  box-shadow: 0 0 0 0.1em #000;
  margin-right: 0.75em;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

/* the checked style using the :checked pseudo class */
[type="radio"]:checked + span:before {
  background: #3D92C9;
  box-shadow: 0 0 0 0.15em #000;
}

/* never forget focus styling */
[type="radio"]:focus + span:after {
  content: '\0020\2190';
  font-size: 1.2em;
  line-height: 1;
  vertical-align: -0.125em;
}
fieldset {
  font-size: 1em;
  border: 0;
  padding: 2em;
}
fieldset>legend {
  font-size: 1.5em;
}


/* MISC */
.workspaces {
  text-align: left;
}

.success {
    background: #1CB841!important;
    color: #fff;
    border: 1px solid #1CB841;
}
.danger {
    background: #CA3C3C!important;
    color: #fff!important;
    border: 0;
}
.danger-text {
    color: #CA3C3C!important;
}

.clickable {
    cursor: pointer;
}
.float-right {
    float: right;
}

.float-left {
    float: left;
}

.center-text {
    text-align: center;
}

.center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.hidden {
    display: none!important;
}

.content {
  /*height: 100%;*/
}

footer {
  padding-bottom: 10px;
}

/* RESPONSIVE */
@media (min-width: 48em) {

}

@media (max-width: 48em) {
    body {
        zoom: 80%;
    }
}
